<!-- Content Wrap -->
<div class="content-wrap cndn-wrap">
    <!-- Page Header -->
    <div class="page-header">
        <div class="page-header-inner">
            <div class="page-header-content-left">
                <div class="page-header-content button-block">
                    <a href="#!/customer-pkg/customer/list" type="button" class="btn-back btn-img">
                        <img class="img-responsive" src="./public/theme/img/content/previous.svg" alt="Back" />
                    </a>
                </div><!-- Page Header Content -->
                <div class="page-header-content title-block">
                    <h1 class="title"><b>{{$ctrl.action}} Customer</b></h1>
                    <p class="subtitle">
                        <a href="#!/customer-pkg/customer/list">
                            Customer List
                        </a> /
                        {{$ctrl.action}}
                    </p>
                </div><!-- Page Header Content -->
            </div><!-- Page Header Content Left -->
        </div><!-- Page Header Inner -->
    </div><!-- Page Header -->
    <!-- Page Main Content -->
    <div class="page-main-content form-content type2">
        <form id="form" autocomplete="off">
            <input type="hidden" name="id" value="{{$ctrl.customer.id}}">
            <div class="page-tab-form pb-70">
                <div class="tab-form-wrap">
                    <div class="tab-form-header">
                        <div class="tab-header">
                            <!-- Filters -->
                            <div class="isotope-filters animated" data-animation="fadeInLeft" data-animation-delay="300">
                                <ul class="nav nav-pills cndn-tabs">
                                    <li class="active">
                                        <a class="filter active" data-target="#general-information" data-toggle="tab" aria-expanded="true">
                                            General Information
                                        </a>
                                    </li>
                                    <li>
                                        <!-- <a data-target="#address-details" data-toggle="tab" aria-expanded="true" class="filter"> -->
                                        <a data-target="#multi-address-details" data-toggle="tab" aria-expanded="true" class="filter">
                                            Address Details
                                        </a>
                                    </li>
                                </ul>
                            </div><!-- Filters -->
                        </div><!-- Tab Header -->
                    </div><!-- Tab Form Header -->
                    <div class="tab-form-body">
                        <div class="tab-content">
                            <!-- TAB PANEL -->
                            <div class="tab-pane fade in active" id="general-information" data-animation="fadeInUp" data-animation-delay="300">
                                <div class="tab-pane-wrap">
                                    <div class="row">
                                        <div class="col-md-3">
                                            <div class="input-text form-group">
                                                <label>
                                                    Customer Code
                                                    <sup class="mandatory">*</sup>
                                                </label>
                                                <input type="text" class="form-control required" ng-model="$ctrl.customer.code" name="code" placeholder="Enter Customer Code" />
                                            </div><!-- Feild -->
                                        </div><!-- Column -->
                                        <div class="col-md-3">
                                            <div class="input-text form-group">
                                                <label>
                                                    Customer Name
                                                    <sup class="mandatory">*</sup>
                                                </label>
                                                <input type="text" class="form-control required" ng-model="$ctrl.customer.name" name="name" placeholder="Enter Customer Name" />
                                            </div><!-- Feild -->
                                        </div><!-- Column -->
                                        <div class="col-md-3">
                                            <div class="input-text form-group">
                                                <label>
                                                    Full Address
                                                    <span class="mandatory">*</span>
                                                </label>
                                                <input name="address" ng-model="$ctrl.customer.address" class="form-control required" rows="3" placeholder="Enter Address">
                                            </div>
                                        </div>
                                        <div class="col-md-3">
                                            <div class="input-text form-group">
                                                <label>
                                                    GST Number
                                                </label>
                                                <input type="text" class="form-control" ng-model="$ctrl.customer.gst_number" name="gst_number" placeholder="Enter GST Number" />
                                            </div><!-- Feild -->
                                        </div><!-- Column -->
                                        <div class="col-md-3">
                                            <div class="input-text form-group">
                                                <label>Mobile Number</label>
                                                <input type="text" class="form-control" ng-model="$ctrl.customer.mobile_no" name="mobile_no" placeholder="Enter Mobile Number" />
                                            </div><!-- Feild -->
                                        </div><!-- Column -->
                                        <div class="col-md-3">
                                            <div class="input-text form-group">
                                                <label>Email</label>
                                                <input type="text" class="form-control" ng-model="$ctrl.customer.email" name="email" placeholder="Enter Email" />
                                            </div><!-- Feild -->
                                        </div><!-- Column -->
                                        <div class="col-md-3">
                                            <div class="input-text form-group">
                                                <label>Customer Group</label>
                                                <input type="text" class="form-control" ng-model="$ctrl.customer.cust_group" name="cust_group" placeholder="Enter Customer Group" />
                                            </div><!-- Feild -->
                                        </div><!-- Column -->
                                        <div class="col-md-3">
                                            <div class="input-text form-group">
                                                <label>Dimension</label>
                                                <input type="text" class="form-control" ng-model="$ctrl.customer.dimension" name="dimension" placeholder="Enter Dimension" />
                                            </div><!-- Feild -->
                                        </div><!-- Column -->
                                        <div class="col-md-3">
                                            <div class="form-group">
                                                <label>AXAPTA Location ID</label>
                                                <input type="text" class="form-control" name="axapta_location_id" ng-model="$ctrl.customer.axapta_location_id" placeholder="Enter AXAPTA Location ID">
                                            </div><!-- Field -->
                                        </div><!-- Column -->
                                        <!--Add Aadhar and PAN no to customer by Karthik kumar on 19-02-2020 -->
                                        <div class="col-md-3">
                                            <div class="input-text form-group">
                                                <label>Aadhar Number</label>
                                                <!-- <input type="text" class="form-control" ng-model="$ctrl.customer_details.aadhar_no" name="aadhar_no" placeholder="Enter Aadhar Number" /> -->
                                                <input type="text" class="form-control" ng-model="$ctrl.customer.aadhar_number" name="aadhar_no" placeholder="Enter Aadhar Number" />
                                            </div><!-- Feild -->
                                        </div><!-- Column -->
                                        <div class="col-md-3">
                                            <div class="input-text form-group">
                                                <label>PAN Number</label>
                                                <!-- <input type="text" class="form-control" ng-model="$ctrl.customer_details.pan_no" name="pan_no" placeholder="Enter PAN Number" /> -->
                                                <input type="text" class="form-control" ng-model="$ctrl.customer.pan_number" name="pan_no" placeholder="Enter PAN Number" />
                                            </div><!-- Feild -->
                                        </div><!-- Column -->
                                        <div class="col-md-3">
                                            <div class="input-text form-group">
                                                <label>Credit Limit</label>
                                                <input type="text" class="form-control" ng-model="$ctrl.customer.credit_limits" name="credit_limits" placeholder="Enter Credit Amount" />
                                            </div><!-- Feild -->
                                        </div><!-- Column -->
                                        <div class="col-md-3">
                                            <div class="input-text form-group">
                                                <label>Credit Days</label>
                                                <input type="text" class="form-control" ng-model="$ctrl.customer.credit_days" name="credit_days" placeholder="Enter Credit Days" />
                                            </div><!-- Feild -->
                                        </div><!-- Column -->
                                        <!-- END -->
                                        <div class="col-md-3">
                                            <div class="input-text form-group">
                                                <label>Outlet</label>
                                                <md-select ng-model="$ctrl.customer.outlet_id" placeholder="Select Outlet" data-md-container-class="selectdemoSelectHeader">
                                                    <md-select-header class="demo-select-header">
                                                        <input ng-model="searchCustomerOutlet" type="search" placeholder="Search Outlet" class="demo-header-searchbox md-text" ng-keydown="$event.stopPropagation()">
                                                    </md-select-header>
                                                    <md-optgroup label="">
                                                        <md-option ng-value="outlet.id" ng-repeat="outlet in $ctrl.outlet_list | filter:searchCustomerOutlet">
                                                            {{outlet.code}}
                                                        </md-option>
                                                    </md-optgroup>
                                                </md-select>
                                                <input type="hidden" name="outlet_id" value='{{$ctrl.customer.outlet_id}}'>
                                            </div><!-- Feild -->
                                        </div><!-- Column -->
                                        <div class="col-md-3">
                                            <div class="input-text form-group">
                                                <label>LOB</label>
                                                <md-select ng-model="$ctrl.customer.lob_id" placeholder="Select LOB" data-md-container-class="selectdemoSelectHeader">
                                                    <md-select-header class="demo-select-header">
                                                        <input ng-model="searchCustomerLob" type="search" placeholder="Search LOB" class="demo-header-searchbox md-text" ng-keydown="$event.stopPropagation()">
                                                    </md-select-header>
                                                    <md-optgroup label="">
                                                        <md-option ng-value="lob.id" ng-repeat="lob in $ctrl.sbu_list | filter:searchCustomerLob">
                                                            {{lob.name}}
                                                        </md-option>
                                                    </md-optgroup>
                                                </md-select>
                                                <input type="hidden" name="lob_id" value='{{$ctrl.customer.lob_id}}'>
                                            </div><!-- Feild -->
                                        </div><!-- Column -->
                                        <div class="col-md-3">
                                            <div class="input-text form-group">
                                                <label>
                                                    PDF Format
                                                </label>
                                                <md-select ng-model="$ctrl.customer.pdf_format_id" placeholder="Select PDF Format" data-md-container-class="selectdemoSelectHeader">
                                                    <md-select-header class="demo-select-header ng-hide">
                                                        <input ng-model="searchCustomerGroup" type="search" placeholder="Search PDF Format" class="demo-header-searchbox md-text" ng-keydown="$event.stopPropagation()">
                                                    </md-select-header>
                                                    <md-optgroup label="">
                                                        <md-option ng-value="pdf.id" ng-repeat="pdf in $ctrl.pdf_format_list | filter:searchTravel">
                                                            {{pdf.name}}
                                                        </md-option>
                                                    </md-optgroup>
                                                </md-select>
                                                <input type="hidden" name="pdf_format_id" value='{{$ctrl.customer.pdf_format_id}}'>
                                            </div><!-- Feild -->
                                        </div><!-- Column -->
                                        <!-- Customer cash limit by Karthick T on 14-12-2020 -->
                                        <div class="col-md-3">
                                            <div class="form-group">
                                                <label>Customer Limit Allow</label>
                                                <div class="common-radio-button">
                                                    <input type="radio" id="radio_yes" name="customer_limit_allow" value="1" ng-value="1" value="1" ng-model="$ctrl.customer.cash_limit_status" ng-checked="$ctrl.customer.cash_limit_status" />
                                                    <label for="radio_yes">Yes</label>
                                                    <input type="radio" id="radio_no" name="customer_limit_allow" value="0" ng-value="0" value="0" ng-model="$ctrl.customer.cash_limit_status" ng-checked="$ctrl.customer.cash_limit_status" />
                                                    <label for="radio_no">No</label>
                                                </div>
                                            </div><!-- Feild -->
                                        </div><!-- Column -->
                                        <!-- Customer cash limit by Karthick T on 14-12-2020 -->
                                        <!-- Customer IMS Type by Parthiban V on 29-07-2021 -->
                                        <div class="col-md-3">
                                            <div class="input-text form-group">
                                                <label>IMS Type</label>
                                                <md-select ng-model="$ctrl.customer.ims_type_id" placeholder="Select IMS Type" data-md-container-class="selectdemoSelectHeader">
                                                    <md-select-header class="demo-select-header">
                                                        <input ng-model="searchCustomerImsType" type="search" placeholder="Search IMS Type" class="demo-header-searchbox md-text" ng-keydown="$event.stopPropagation()">
                                                    </md-select-header>
                                                    <md-optgroup label="">
                                                        <md-option ng-value="ims_type.id" ng-repeat="ims_type in $ctrl.ims_type_list | filter:searchCustomerImsType">
                                                            {{ims_type.name}}
                                                        </md-option>
                                                    </md-optgroup>
                                                </md-select>
                                                <input type="hidden" name="ims_type_id" value='{{$ctrl.customer.ims_type_id}}'>
                                            </div><!-- Feild -->
                                        </div><!-- Column -->
                                        <!-- Customer IMS Type by Parthiban V on 29-07-2021 -->
                                        <div class="col-md-3">
                                            <div class="input-text form-group">
                                                <label>
                                                    Active Status
                                                    <sup class="mandatory">*</sup>
                                                </label>
                                                <div class="tab-switch">
                                                    <md-switch ng-model="$ctrl.switch_value" aria-label="Switch 1" ng-true-value="'Inactive'" ng-false-value="'Active'" class="md-warn">
                                                        {{ $ctrl.switch_value }}
                                                    </md-switch>
                                                    <input type="hidden" name="status" value="{{$ctrl.switch_value}}">
                                                </div>
                                            </div><!-- Form Group -->
                                        </div><!-- Column -->
                                        <div class="tab-pane-footer">
                                            <div class="row">
                                                <div class="col-md-12">
                                                    <a class="btn btn-primary btn-nxt">
                                                        Next
                                                    </a>
                                                </div>
                                            </div>
                                        </div><!-- Tab Footer -->
                                    </div><!-- Row -->
                                </div><!-- Tab Pane Wrap -->
                            </div><!-- Tabe Pane -->
                            <div class="tab-pane fade" id="address-details" data-animation="fadeInUp" data-animation-delay="300">
                                <input type="hidden" name="address_id" value="{{$ctrl.address.id}}">
                                <div class="tab-pane-wrap">
                                    <div class="row">
                                        <div class="col-md-3">
                                            <div class="input-text form-group">
                                                <label>
                                                    Address Line 1
                                                    <sup class="mandatory">*</sup>
                                                </label>
                                                <input type="text" class="form-control" ng-model="$ctrl.address.address_line1" name="address_line1" placeholder="Enter Address Line 1" />
                                            </div><!-- Feild -->
                                        </div><!-- Column -->
                                        <div class="col-md-3">
                                            <div class="input-text form-group">
                                                <label>
                                                    Address Line 2
                                                </label>
                                                <input type="text" class="form-control" ng-model="$ctrl.address.address_line2" name="address_line2" placeholder="Enter Address Line 2" />
                                            </div><!-- Feild -->
                                        </div><!-- Column -->
                                        <div class="col-md-3">
                                            <div class="input-text form-group">
                                                <label>
                                                    Country
                                                    <sup class="mandatory">*</sup>
                                                </label>
                                                <md-select ng-model="$ctrl.address.country_id" ng-change="onSelectedCountry($ctrl.address.country_id);$ctrl.address.state_id='';$ctrl.address.city_id=''" placeholder="Select Country" data-md-container-class="selectdemoSelectHeader">
                                                    <md-select-header class="demo-select-header ng-hide">
                                                        <input ng-model="searchCustomerGroup" type="search" placeholder="Search Customer Group" class="demo-header-searchbox md-text" ng-keydown="$event.stopPropagation()">
                                                    </md-select-header>
                                                    <md-optgroup label="Customer Group List">
                                                        <md-option ng-value="country.id" ng-repeat="country in $ctrl.country_list | filter:searchTravel">
                                                            {{country.name}}
                                                        </md-option>
                                                    </md-optgroup>
                                                </md-select>
                                                <input type="hidden" name="country_id" value='{{$ctrl.address.country_id}}' class="">
                                            </div><!-- Feild -->
                                        </div><!-- Column -->
                                        <div class="col-md-3">
                                            <div class="input-text form-group">
                                                <label>
                                                    State
                                                    <sup class="mandatory">*</sup>
                                                </label>
                                                <md-select ng-model="$ctrl.address.state_id" ng-change="onSelectedState($ctrl.address.state_id);$ctrl.address.city_id=''" placeholder="Select State" data-md-container-class="selectdemoSelectHeader">
                                                    <md-select-header class="demo-select-header ng-hide">
                                                        <input ng-model="searchCustomerGroup" type="search" placeholder="Search Customer Group" class="demo-header-searchbox md-text" ng-keydown="$event.stopPropagation()">
                                                    </md-select-header>
                                                    <md-optgroup label="">
                                                        <md-option ng-value="state.id" ng-repeat="state in $ctrl.state_list | filter:searchTravel">
                                                            {{state.name}}
                                                        </md-option>
                                                    </md-optgroup>
                                                </md-select>
                                                <input type="hidden" name="state_id" value='{{$ctrl.address.state_id}}' class="">
                                            </div><!-- Feild -->
                                        </div><!-- Column -->
                                        <div class="col-md-3">
                                            <div class="input-text form-group">
                                                <label>
                                                    City
                                                    <sup class="mandatory">*</sup>
                                                </label>
                                                <md-select ng-model="$ctrl.address.city_id" placeholder="Select City" data-md-container-class="selectdemoSelectHeader">
                                                    <md-select-header class="demo-select-header ng-hide">
                                                        <input ng-model="searchCustomerGroup" type="search" placeholder="Search Customer Group" class="demo-header-searchbox md-text" ng-keydown="$event.stopPropagation()">
                                                    </md-select-header>
                                                    <md-optgroup label="">
                                                        <md-option ng-value="city.id" ng-repeat="city in $ctrl.city_list | filter:searchTravel">
                                                            {{city.name}}
                                                        </md-option>
                                                    </md-optgroup>
                                                </md-select>
                                                <input type="hidden" name="city_id" value='{{$ctrl.address.city_id}}' class="">
                                            </div><!-- Feild -->
                                        </div><!-- Column -->
                                        <div class="col-md-3">
                                            <div class="input-text form-group">
                                                <label>
                                                    Pincode
                                                </label>
                                                <input type="text" class="form-control" ng-model="$ctrl.address.pincode" name="pincode" placeholder="Enter Pincode" oninput="this.value = this.value.replace(/[^0-9.]/g, '').replace(/(\..*)\./g, '$1');" />
                                            </div><!-- Feild -->
                                        </div><!-- Column -->
                                        <div class="col-md-3">
                                            <div class="input-text form-group">
                                                <label class="table-form-list-label">
                                                    Full Address
                                                    <span class="mandatory">*</span>
                                                </label>
                                                <textarea name="address" ng-model="$ctrl.customer.address" class="form-control" rows="3" placeholder="Enter Address"></textarea>
                                            </div>
                                        </div>
                                        <div class="col-md-3">
                                            <div class="input-text form-group">
                                                <label class="table-form-list-label">
                                                    Street
                                                </label>
                                                <textarea name="street" ng-model="$ctrl.address.street" class="form-control" rows="3" placeholder="Enter Street"></textarea>
                                            </div>
                                        </div>
                                        <div class="tab-pane-footer">
                                            <div class="row">
                                                <div class="col-md-12">
                                                    <a class="btn btn-secondary btn-prev">
                                                        Previous
                                                    </a>
                                                    <button type="submit" id="submit" class="btn btn-primary">
                                                        Submit
                                                    </button>
                                                </div>
                                            </div>
                                        </div><!-- Tab Footer -->
                                    </div><!-- Row -->
                                </div><!-- Tab Pane Wrap -->
                            </div><!-- Tabe Pane -->

                            <div class="tab-pane fade" id="multi-address-details" data-animation="fadeInUp" data-animation-delay="300">
                                <input type="hidden" name="address_removal_ids" id="address_removal_ids" value="">
                                <div class="tab-pane-wrap">
                                    <div class="row">
                                        <div class="table-responsive">
                                                <table class="table table-form">
                                                    <thead>
                                                        <tr>
                                                            <th class="width-230">Is Primary<sup class="mandatory">*</sup></th>
                                                            <th class="width-230">Address Line 1<sup class="mandatory">*</sup></th>
                                                            <th class="width-230">Address Line 2</th>
                                                            <th class="width-230">GST Number</th>
                                                            <th class="width-230">Country<sup class="mandatory">*</sup></th>
                                                            <th class="width-230">State<sup class="mandatory">*</sup></th>
                                                            <th class="width-230">City<sup class="mandatory">*</sup></th>
                                                            <th class="width-230">Pincode</th>
                                                            <th class="width-230">Street<sup class="mandatory">*</sup></th>
                                                        </tr>
                                                    </thead>
                                                    <tbody ng-repeat="(index, customer_address) in $ctrl.customer_address_details">
                                                        <input type="hidden" name="customer_addresses[{{index}}][id]" value="{{customer_address.id}}">
                                                        <tr>
                                                            <td>
                                                                <div class="common-radio-button">
                                                                    
                                                                    <input type="radio" id="primary_yes_{{index}}" name="customer_addresses[{{index}}][is_primary]" value="1" ng-value="1" ng-model="customer_address.is_primary" ng-checked="customer_address.is_primary == 1" />
                                                                    <label for="primary_yes_{{index}}">Yes</label>
                                                                    <input type="radio" id="primary_no_{{index}}" name="customer_addresses[{{index}}][is_primary]" value="0" ng-value="0" ng-model="customer_address.is_primary" ng-checked="!customer_address.is_primary" />
                                                                    <label for="primary_no_{{index}}">No</label>
                                                                </div>
                                                            </td>
                                                            <td>
                                                                <input type="text" class="form-control required" ng-model="customer_address.address_line1" name="customer_addresses[{{index}}][address_line1]" placeholder="Enter Address Line 1" maxlength="255" />
                                                            </td>
                                                            <td>
                                                                <input type="text" class="form-control" ng-model="customer_address.address_line2" name="customer_addresses[{{index}}][address_line2]" placeholder="Enter Address Line 2" maxlength="255"/>
                                                            </td>
                                                            <td>
                                                                <input type="text" class="form-control" ng-model="customer_address.gst_number" name="customer_addresses[{{index}}][gst_number]" placeholder="Enter GST Number" maxlength="191"/>
                                                            </td>
                                                            <td>
                                                                <md-select ng-model="customer_address.country_id" ng-change="onSelectedCountry(customer_address.country_id, index);customer_address.state_id='';customer_address.city_id=''" placeholder="Select Country" data-md-container-class="selectdemoSelectHeader">
                                                                    <md-select-header class="demo-select-header ng-hide">
                                                                        <input ng-model="searchCountry" type="search" placeholder="Search Country" class="demo-header-searchbox md-text" ng-keydown="$event.stopPropagation()">
                                                                    </md-select-header>
                                                                    <md-optgroup label="Country List">
                                                                        <md-option ng-value="country.id" ng-repeat="country in customer_address.country_list | filter:searchCountry">
                                                                            {{country.name}}
                                                                        </md-option>
                                                                    </md-optgroup>
                                                                </md-select>
                                                                <input type="hidden" name="customer_addresses[{{index}}][country_id]" value='{{customer_address.country_id}}' class="required">
                                                            </td>
                                                            <td>
                                                                <md-select ng-model="customer_address.state_id" ng-change="onSelectedState(customer_address.state_id ,index);customer_address.city_id=''" placeholder="Select State" data-md-container-class="selectdemoSelectHeader">
                                                                    <md-select-header class="demo-select-header ng-hide">
                                                                        <input ng-model="searchState" type="search" placeholder="Search State" class="demo-header-searchbox md-text" ng-keydown="$event.stopPropagation()">
                                                                    </md-select-header>
                                                                    <md-optgroup label="">
                                                                        <md-option ng-value="state.id" ng-repeat="state in customer_address.state_list | filter:searchState">
                                                                            {{state.name}}
                                                                        </md-option>
                                                                    </md-optgroup>
                                                                </md-select>
                                                                <input type="hidden" name="customer_addresses[{{index}}][state_id]" value='{{customer_address.state_id}}' class="required">
                                                            </td>
                                                            <td>
                                                                <md-select ng-model="customer_address.city_id" placeholder="Select City" data-md-container-class="selectdemoSelectHeader">
                                                                    <md-select-header class="demo-select-header ng-hide">
                                                                        <input ng-model="searchCity" type="search" placeholder="Search City" class="demo-header-searchbox md-text" ng-keydown="$event.stopPropagation()">
                                                                    </md-select-header>
                                                                    <md-optgroup label="">
                                                                        <md-option ng-value="city.id" ng-repeat="city in customer_address.city_list | filter:searchCity">
                                                                            {{city.name}}
                                                                        </md-option>
                                                                    </md-optgroup>
                                                                </md-select>
                                                                <input type="hidden" name="customer_addresses[{{index}}][city_id]" value='{{customer_address.city_id}}' class="required">
                                                            </td>
                                                            <td>
                                                                <input type="text" class="form-control" ng-model="customer_address.pincode" name="customer_addresses[{{index}}][pincode]" placeholder="Enter Pincode" oninput="this.value = this.value.replace(/[^0-9.]/g, '').replace(/(\..*)\./g, '$1');"  minlength="6" maxlength="6"/>
                                                            </td>
                                                            <td>
                                                                <textarea name="customer_addresses[{{index}}][street]" ng-model="customer_address.street" class="form-control required" rows="3" maxlength="255" placeholder="Enter Street" style="width:230px;"></textarea>
                                                            </td>
                                                            <td>
                                                                <button class="btn-delete" ng-click="$ctrl.removeAddress(index, customer_address.id)" type="button">
                                                                    <img class="img-responsive" src="./public/theme/img/table/cndn/delete.svg" alt="Delete" />
                                                                </button>
                                                            </td>
                                                        </tr>
                                                    </tbody>
                                                    <tfoot>
                                                        <tr>
                                                            <td colspan="3">
                                                                <button type="button" class="btn btn-primary-light btn-square" ng-click="$ctrl.addAddress()">+ Add Address</button>
                                                            </td>
                                                        </tr>
                                                    </tfoot>
                                                </table>
                                            </div><!-- Table Responsive -->
                                        </div><!-- Column -->
                                        <div class="tab-pane-footer">
                                            <div class="row">
                                                <div class="col-md-12">
                                                    <a class="btn btn-secondary btn-prev">
                                                        Previous
                                                    </a>
                                                    <button type="submit" id="submit" class="btn btn-primary" ng-shortcut="'meta+shift+s'" ng-shortcut-click>Submit</button>
                                                </div>
                                            </div>
                                        </div><!-- Tab Footer -->
                                    </div><!-- Row -->
                                </div><!-- Tab Pane Wrap -->
                            </div><!-- Tabe Pane -->

                        </div><!-- Tab Content -->
                    </div><!-- Tab Form Body -->
                </div><!-- Tab Form Wrap -->
            </div><!-- Page Form -->
        </form>
    </div><!-- Page Main Content -->
</div><!-- Content Wrap -->